
<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row">
      <h1 style="    padding-top: 65px;font-size: 3em;color: cadetblue;">Change your password</h1>
   
    </div>
    <p *ngIf="error" style="    color: red;text-align: center;font-size: 20px;">{{errorMessage}}</p>
    <p *ngIf="update" style="    color: green;text-align: center;font-size: 20px;">{{updateMessage}}</p>
    <div class="row" class="div3">
      <form #changepassword="ngForm" (ngSubmit)="changeuserpassword(changepassword.value)" >
        <div class="row row2">
          <div class="col-3"><label> password :</label></div>
           <div class="col-9"><input type="password" class="input2"ngModel name="password" required ></div>
      </div>
      <div class="row row2">
            <div class="col-3"><label> repeat password :</label></div>
             <div class="col-9"><input type="password" class="input2"ngModel name="repeatpassword" required ></div>
       </div>
       <div class="row row2">
        <div class="col-2"></div>
         <div class="col-10"> <button  class="btn btn-primary" style="margin-right: 25px;"type="submit">change password</button>
        
        </div>
            </div> 
       </form>
    </div>
    
  </div>
  <app-footer></app-footer>