<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
        <h2 class="footer-heading"><a href="#" class="logo">Mach15 group</a></h2>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
       
      </div>
      <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
        <h2 class="footer-heading">Services</h2>
        <ul class="list-unstyled">
          <li><a href="#" class="py-1 d-block">Map Direction</a></li>
          <li><a href="#" class="py-1 d-block">Accomodation Services</a></li>
          <li><a href="#" class="py-1 d-block">Great Experience</a></li>
          <li><a href="#" class="py-1 d-block">Perfect central location</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
        <h2 class="footer-heading">Tag cloud</h2>
        <ul class="list-unstyled">
          <li><a href="#" class="py-1 d-block">Map Direction</a></li>
          <li><a href="#" class="py-1 d-block">Accomodation Services</a></li>
          <li><a href="#" class="py-1 d-block">Great Experience</a></li>
          <li><a href="#" class="py-1 d-block">Perfect central location</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
        <h2 class="footer-heading">Tag cloud</h2>
        <ul class="list-unstyled">
          <li><a href="#" class="py-1 d-block">Map Direction</a></li>
          <li><a href="#" class="py-1 d-block">Accomodation Services</a></li>
          <li><a href="#" class="py-1 d-block">Great Experience</a></li>
          <li><a href="#" class="py-1 d-block">Perfect central location</a></li>
        </ul>
        
      </div>
    </div>
  </div>
 
</footer>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12">
        <p>Copyright ©2020 All rights reserved to Mach15 project</p>
      </div>
    </div>
  </div>
</footer>