<app-nav-bar></app-nav-bar>
<div class="" style="padding-left: 10vw;padding-right: 10vw;padding-top: 50px;padding-bottom: 90px; ">
    <div class="info">
      <h1>Trending projects</h1></div>
      <div class="row" style="margin-top: 50px;">
          <div class="col">
  <section>
      
      <div class="profile profile-smallimg">
      <div class="profile__image"><img src="../../assets/iot.jpeg" alt="Doggo"/></div>
      <div class="profile__info">
        <h3>Home automation</h3>
        <p class="profile__info__extra">Home automation or domotics is building automation for a home, called a smart home or smart house. A home automation system will control lighting, climate, entertainment systems</p>
      </div>
      
      
      
      <button type="button" class="btn btn-danger">join-now</button>
    </div>
  </section>
  </div>
  
  <div class="col">
    <section>
        
        <div class="profile profile-smallimg">
        <div class="profile__image"><img src="../../assets/ai.jpg" alt="Doggo"/></div>
        <div class="profile__info">
          <h3>Home automation</h3>
          <p class="profile__info__extra">Home automation or domotics is building automation for a home, called a smart home or smart house. A home automation system will control lighting, climate, entertainment systems</p>
        </div>
        
        
        
        <button type="button" class="btn btn-danger">join-now</button>
      </div>
    </section>
    </div>
  
    
    <div class="col">
      <section>
          
          <div class="profile profile-smallimg">
          <div class="profile__image"><img src="../../assets/ml.png" alt="Doggo"/></div>
          <div class="profile__info">
            <h3>Home automation</h3>
            <p class="profile__info__extra">Home automation or domotics is building automation for a home, called a smart home or smart house. A home automation system will control lighting, climate, entertainment systems</p>
          </div>
          
          
          
          <button type="button" class="btn btn-danger">join-now</button>
        </div>
      </section>
      </div>
  
      
      <div class="col">
        <section>
            
            <div class="profile profile-smallimg">
            <div class="profile__image"><img src="../../assets/wd.jfif  " alt="Doggo"/></div>
            <div class="profile__info">
              <h3>Home automation</h3>
              <p class="profile__info__extra">Home automation or domotics is building automation for a home, called a smart home or smart house. A home automation system will control lighting, climate, entertainment systems</p>
            </div>
            
            
            
            <button type="button" class="btn btn-danger">join-now</button>
          </div>
        </section>
        </div>
        
  
  
  
  
      
              
  </div>
  </div>
  <app-footer></app-footer>