
<app-nav-bar></app-nav-bar>
<div class="row" style="padding-left: 10vw;padding-right: 10vw;padding-top: 10px; ">
	<div class="row" style="padding:20px;">
		<div class="col-sm-3">
			<img src="../../assets/ai.jpg" width="300">
		</div>
		<div class="col">
			<span class="label">Computer science</span>
			<h1 class="h1">Home Automation</h1>
			<p class="p">The eyes of the motorsport world will be on the event more than ever― Formula 1 Driver Fernando Alonso went so far as to skip the Monaco Grand Prix, arguably the biggest race on the F1 calendar, just to drive in the Indianapolis 500.</p>
		<a href="#" class="a">read more</a>
		</div>
	</div>
	
	<div class="row" style="padding:20px;">
		<div class="col-sm-3">
			<img src="../../assets/wd.jfif" width="300">
		</div>
		<div class="col">
			<span class="label">Computer science</span>
			<h1 class="h1">Home Automation</h1>
			<p class="p">The eyes of the motorsport world will be on the event more than ever― Formula 1 Driver Fernando Alonso went so far as to skip the Monaco Grand Prix, arguably the biggest race on the F1 calendar, just to drive in the Indianapolis 500.</p>
		<a href="#" class="a">read more</a>
		</div>
	</div>
	<div class="row" style="padding:20px;">
		<div class="col-sm-3">
			<img src="../../assets/iot.jpeg" width="300">
		</div>
		<div class="col">
			<span class="label">Computer science</span>
			<h1 class="h1">Home Automation</h1>
			<p class="p">The eyes of the motorsport world will be on the event more than ever― Formula 1 Driver Fernando Alonso went so far as to skip the Monaco Grand Prix, arguably the biggest race on the F1 calendar, just to drive in the Indianapolis 500.</p>
		<a href="#" class="a">read more</a>
		</div>
	</div>
	<div class="row" style="padding:20px;">
		<div class="col-sm-3">
			<img src="../../assets/ml.png" width="300">
		</div>
		<div class="col">
			<span class="label">Computer science</span>
			<h1 class="h1">Home Automation</h1>
			<p class="p">The eyes of the motorsport world will be on the event more than ever― Formula 1 Driver Fernando Alonso went so far as to skip the Monaco Grand Prix, arguably the biggest race on the F1 calendar, just to drive in the Indianapolis 500.</p>
		<a href="#" class="a">read more</a>
		</div>
	</div>
</div>

<app-footer></app-footer>
