/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{height: 370px;
 

    width: 400px;
    background-color: rgb(255, 254, 253);
    margin-bottom: 80px;
    box-shadow: 3px 5px 9px #949090;
    margin-top: 30px;

}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: rgb(23, 48, 119);
}

.social_icon span:hover{
color: rgb(243, 12, 12);
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color:#e9ecef;;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
    color: white;
    background-color: #f30000;
    width: 100px;
    border-radius: 25px;
}

.login_btn:hover{
color: white;
background-color:rgb(221, 3, 3);
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
.fa {
    margin-left: -12px;
    margin-right: 8px;
  }