<app-nav-bar></app-nav-bar>
<div class="container" style="margin-top: 50px;">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header" style="background-color: white;">
				<h3 style="color: black;">Sign In</h3>
			
			</div>
			<div class="card-body">
				<form class="was-validated need-validation"  #login="ngForm" (ngSubmit)="userlogin(login.value)" >
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-user"></i></span>
						</div>
						<input  class="form-control" placeholder="Email address" ngModel name="email" maxlength="50" required   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" type="email"  >
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-lock"></i></span>
						</div>
						<input class="form-control" placeholder="Create password" ngModel name="password"  maxlength="50" required  type="password">
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox"><span style="color: black;" >Remember Me</span>
					</div>
					<div *ngIf="!(login.valid) else showSubmitButton">
						<button class="btn btn-lg btn-block btn-block" type="submit" disabled>Log in</button>
					  </div>
					  <ng-template #showSubmitButton>
						<button class="btn btn-lg btn-primary btn-block" style="background-color: #389c64;" type="submit">Log in</button>
					  </ng-template>
				</form>
			</div>
			<div class="card-footer"  style="background-color: white;">
				<div class="d-flex justify-content-center links">
					<b style="color: black;">Don't have an account?</b><a routerLink="/signup">Sign Up</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="">Forgot your password?</a>
				</div>
			</div>
		</div>
	</div>
</div>


<app-footer></app-footer>