<app-nav-bar></app-nav-bar>

<script>$(window).load(function() {
    $('.post-module').hover(function() {
      $(this).find('.description').stop().animate({
        height: "toggle",
        opacity: "toggle"
      }, 300);
    });
  });</script>
<div class="" style="padding-left: 10vw;padding-right: 10vw;padding-top: 10px; background-color: #ffe6e6;">
    <div class="info">
      <h1>Computer science engineering projects</h1></div>
    <div class="row " style="margin-bottom: 30px; margin-top:30px;"> 
    <!-- Normal Demo-->
    <div class="column col">
      <a href="#">
      <!-- Post-->
      <div class="post-module">
        <!-- Thumbnail-->
        <div class="thumbnail">
         
            
            
         <img src="../../assets/iot.jpeg"/>
        </div>
        <!-- Post Content-->
        <div class="post-content" >
          <div class="category">Trending</div>
          <a routerLink="/projectlist" class="title" >Internet of things</a>
      
        </div>
      </div>
    </a>
    </div>
   
    <div class="column col">
        <a href="#">
        <!-- Post-->
        <div class="post-module">
          <!-- Thumbnail-->
          <div class="thumbnail">
          
              
              
            <img src="../../assets/ai.jpg"/>
          </div>
          <!-- Post Content-->
          <div class="post-content">
            <div class="category">Trending</div>
            <h1 class="title">Artificial intelligence</h1>
        
          </div>
        </div>
      </a>
      </div>

      <div class="column col">
        <a href="#">
        <!-- Post-->
        <div class="post-module">
          <!-- Thumbnail-->
          <div class="thumbnail">
      
              
              
            <img src="../../assets/wd.jfif"/>
          </div>
          <!-- Post Content-->
          <div class="post-content">
            <div class="category">Trending</div>
            <h1 class="title">Web development</h1>
     
          </div>
        </div>
      </a>
      </div>

      <div class="column col">
        <a href="#">
        <!-- Post-->
        <div class="post-module">
          <!-- Thumbnail-->
          <div class="thumbnail">
        <img src="../../assets/ml.png"/>
          </div>
          <!-- Post Content-->
          <div class="post-content">
            <div class="category">Trending</div>
            <h1 class="title">MAchine Learning</h1>
       
          </div>
        </div>
      </a>
      </div>
    </div>

    <div class="row" style="margin-bottom: 30px;">
        <!-- Normal Demo-->
        <div class="column col">
          <a href="#">
          <!-- Post-->
          <div class="post-module">
            <!-- Thumbnail-->
            <div class="thumbnail">
              <img src="../../assets/iot.jpeg"/>
            </div>
            <!-- Post Content-->
            <div class="post-content">
              <div class="category">Trending</div>
              <h1 class="title">Internet of things</h1>
           
            </div>
          </div>
        </a>
        </div>
       
        <div class="column col">
            <a href="#">
            <!-- Post-->
            <div class="post-module">
              <!-- Thumbnail-->
              <div class="thumbnail">
                <img src="../../assets/ai.jpg"/>
              </div>
              <!-- Post Content-->
              <div class="post-content">
                <div class="category">Trending</div>
                <h1 class="title">Artificial intelligence</h1>
            
              </div>
            </div>
          </a>
          </div>
    
          <div class="column col">
            <a href="#">
            <!-- Post-->
            <div class="post-module">
              <!-- Thumbnail-->
              <div class="thumbnail">
               <img src="../../assets/wd.jfif"/>
              </div>
              <!-- Post Content-->
              <div class="post-content">
                <div class="category">Trending</div>
                <h1 class="title">Web development</h1>
              
              </div>
            </div>
          </a>
          </div>
    
          <div class="column col">
            <a href="#">
            <!-- Post-->
            <div class="post-module">
              <!-- Thumbnail-->
              <div class="thumbnail">
              <img src="../../assets/ml.png"/>
              </div>
              <!-- Post Content-->
              <div class="post-content">
                <div class="category">Trending</div>
                <h1 class="title">MAchine Learning</h1>
               
              </div>
            </div>
          </a>
          </div>
        </div>


        <div class="row" style="padding-bottom: 30px;">
            <!-- Normal Demo-->
            <div class="column col">
              <a href="#">
              <!-- Post-->
              <div class="post-module">
                <!-- Thumbnail-->
                <div class="thumbnail">
                  <img src="../../assets/iot.jpeg"/>
                </div>
                <!-- Post Content-->
                <div class="post-content">
                  <div class="category">Trending</div>
                  <h1 class="title">Internet of things</h1>
             
                </div>
              </div>
            </a>
            </div>
           
            <div class="column col">
                <a href="#">
                <!-- Post-->
                <div class="post-module">
                  <!-- Thumbnail-->
                  <div class="thumbnail">
                    <img src="../../assets/ai.jpg"/>
                  </div>
                  <!-- Post Content-->
                  <div class="post-content">
                    <div class="category">Trending</div>
                    <h1 class="title">Artificial intelligence</h1>
                  
                  </div>
                </div>
              </a>
              </div>
        
              <div class="column col">
                <a href="#">
                <!-- Post-->
                <div class="post-module">
                  <!-- Thumbnail-->
                  <div class="thumbnail">
                    <img src="../../assets/wd.jfif"/>
                  </div>
                  <!-- Post Content-->
                  <div class="post-content">
                    <div class="category">Trending</div>
                    <h1 class="title">Web development</h1>
                 
                  </div>
                </div>
              </a>
              </div>
        
              <div class="column col">
                <a href="#">
                <!-- Post-->
                <div class="post-module">
                  <!-- Thumbnail-->
                  <div class="thumbnail">
                  
                      
                      
                    <img src="../../assets/ml.png"/>
                  </div>
                  <!-- Post Content-->
                  <div class="post-content">
                    <div class="category">Trending</div>
                    <h1 class="title">MAchine Learning</h1>
                   
                  </div>
                </div>
              </a>
              </div>
            </div>
</div>

<app-footer></app-footer>