
<app-nav-bar></app-nav-bar>

<div class="hero-image">

    <div style="width: 70%;"><h1 class="mb-4">select your stream and start your project</h1></div>
    <button type="button" class="btn btn1" >post project</button>
</div>



<!-- below hero image -->
<div class="container-fluid" style="padding-left: 10vw;padding-right: 10vw;padding-top: 10px;">
    <div class="row">
  <div class=" col-sm-3 md4  ">
    <div class="d-block">
      <div  > <img  class="img" src="../../assets/iot.jpg">    </div>
      <div class="media-body ">
       <a href="" class="link1"> <h3 class="heading"> IOT</h3></a>
       
      </div>
    </div>      
  </div>
  <div class=" col-sm-3 md4 ">
    <div class="d-block">
      <div  ><img class="img" src="../../assets/electrical.jpg"></div>
      <div class="media-body ">
        <a href="" class="link1"> <h3 class="heading"> Electrical</h3></a>
  
      </div>
    </div>    
  </div>
  <div class=" col-sm-3 md4 ">
    <div class="d-block">
        <div  ><img class="img" src="../../assets/mechnical.jpg"></div>
      <div class="media-body ">
        <a href="" class="link1"> <h3 class="heading">mechnical</h3></a>
      
      </div>
    </div>      
  </div>
  <div class=" col-sm-3 md4  ">
    <div class="d-block">
      <div  > <img  class="img" src="../../assets/electronics.jpg">    </div>
      <div class="media-body ">
       <a href="" class="link1"> <h3 class="heading">Electronic</h3></a>
       
      </div>
    </div>      
  </div>
</div>
</div>
<!--  -->
<div class="container-fluid" style="padding-left: 10vw;padding-right: 10vw;padding-top: 10px;">
  <div class="row">
<div class=" col-sm-3 md4  ">
  <div class="d-block">
    <div  > <img  class="img" src="../../assets/iot.jpg">    </div>
    <div class="media-body ">
     <a href="" class="link1"> <h3 class="heading"> IOT</h3></a>
     
    </div>
  </div>      
</div>
<div class=" col-sm-3 md4 ">
  <div class="d-block">
    <div  ><img class="img" src="../../assets/electrical.jpg"></div>
    <div class="media-body ">
      <a href="" class="link1"> <h3 class="heading"> Electrical</h3></a>

    </div>
  </div>    
</div>
<div class=" col-sm-3 md4 ">
  <div class="d-block">
      <div  ><img class="img" src="../../assets/mechnical.jpg"></div>
    <div class="media-body ">
      <a href="" class="link1"> <h3 class="heading">mechnical</h3></a>
    
    </div>
  </div>      
</div>
<div class=" col-sm-3 md4  ">
  <div class="d-block">
    <div  > <img  class="img" src="../../assets/electronics.jpg">    </div>
    <div class="media-body ">
     <a href="" class="link1"> <h3 class="heading">Electronic</h3></a>
     
    </div>
  </div>      
</div>
</div>
</div>
<!--  -->
<div class="container-fluid" style="padding-left: 10vw;padding-right: 10vw;padding-top: 10px;">
  <div class="row">
<div class=" col-sm-3 md4  ">
  <div class="d-block">
    <div  > <img  class="img" src="../../assets/iot.jpg">    </div>
    <div class="media-body ">
     <a href="" class="link1"> <h3 class="heading"> IOT</h3></a>
     
    </div>
  </div>      
</div>
<div class=" col-sm-3 md4 ">
  <div class="d-block">
    <div  ><img class="img" src="../../assets/electrical.jpg"></div>
    <div class="media-body ">
      <a href="" class="link1"> <h3 class="heading"> Electrical</h3></a>

    </div>
  </div>    
</div>
<div class=" col-sm-3 md4 ">
  <div class="d-block">
      <div  ><img class="img" src="../../assets/mechnical.jpg"></div>
    <div class="media-body ">
      <a href="" class="link1"> <h3 class="heading">mechnical</h3></a>
    
    </div>
  </div>      
</div>
<div class=" col-sm-3 md4  ">
  <div class="d-block">
    <div  > <img  class="img" src="../../assets/electronics.jpg">    </div>
    <div class="media-body ">
     <a href="" class="link1"> <h3 class="heading">Electronic</h3></a>
     
    </div>
  </div>      
</div>
</div>
</div>


<!-- promotions -->
<div class="main">
  <div class=" container">
      <div class="row ">
          <h2>Developing projects and building team is easy now</h2><div style="margin-top: 20px;">
      <p>Tired of expensive, long courses that are not helping you?<br>   
        Mach15 courses are short, fun and affordable. You can enroll in a mini course whenever you can and gradually build the skills to achieve your dream.
      </p>     </div></div>

      <div class="row svg container">
          <div class="col">
              <div class="row">
                  <div class="col-2 svg1"><img src="../../assets/screw.svg" width="70"></div>
                  <div class="col"><h6>DEVELOP PRACTICAL SKILLS</h6>
                  <p>Each mini course is hands-on and involves project development</p></div>
              </div>
          </div>
          <div class="col">
              <div class="row">
                  <div class="col-2 svg1"><img src="../../assets/portfolio.svg" width="70"></div>
                  <div class="col"><h6>DEVELOP PRACTICAL SKILLS</h6>
                  <p>Each mini course is hands-on and involves project development</p></div>
              </div>
          </div>
          <div class="col">
              <div class="row">
                  <div class="col-2 svg1"><img src="../../assets/career.svg" width="70"></div>
                  <div class="col"><h6>DEVELOP PRACTICAL SKILLS</h6>
                  <p>Each mini course is hands-on and involves project development</p></div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- our services section -->
<section style="    background-color: #f0f7f0; padding-bottom: 65px;">
  <div class="container">
    <div class="row">
      <div class="col-sm-12"><h2 class="serviceshead">Our services</h2></div>
    </div>
    <div class="row">
      <div class="col-sm-4"><i class="fa fa-rocket" style="font-size:48px;color:#f53941"></i><h3  style="font-size: 20px;">Business Consulting</h3>
        <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
      </div>
      <div class="col-sm-4"> <i class="fa fa-line-chart" style="font-size:48px;color:#f53941"></i><h3 style= "font-size: 20px;">market Analysics</h3>
        <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
      </div>
      <div class="col-sm-4"> <i class='fa fa-desktop' style='font-size:48px;color:#f53941'></i><h3  style= "font-size: 20px;" >Monitoring</h3>
        <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4"><i class="fa fa-lightbulb-o" style="font-size:48px;color:#f53941"></i><h3  style="font-size: 20px;">Insurance Consulting</h3>
        <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
      </div>
      <div class="col-sm-4"> <i class='fa fa-briefcase' style='font-size:48px;color:#f53941'></i><h3 style= "font-size: 20px;">Financial Investment</h3>
        <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
      </div>
      <div class="col-sm-4"> <i class='fa fa-sitemap' style='font-size:48px;color:#f53941'></i><h3  style= "font-size: 20px;" >Financial management</h3>
        <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
      </div>
    </div>
  
  </div>
  </section>
  <!-- below  service section mention as lastsection in css -->
  <div class="container-fluid">
    <div class="row svgss1">
      <div class=" " style="padding-left: 10vw;padding-right: 10vw;padding-top: 10px;">
      <div class="row svgs1">
        <div class="col">
          <img src="../../assets/svg1.jpg" width="450" class="svg1">
        </div>
        <div class="col svgc1">
        
        <div class="movie-card__content justify-content-center" >
          <div class="movie-card__header">
            <h1 class="movie-card__title">Develop skills from anywhere</h1>
            <h4 class="movie-card__info">Info</h4>
          </div>
          <p class="movie-card__desc">Every student has a Knowledge Graph on their learning need & speed. This links different concepts and helps students identify their strengths & areas for improvement.</p>
          <button type="button" class="btn btn-danger">join now</button>
        </div>
      </div>
        </div>
      </div>
      </div>
  
      <div class="row svgss2">
        <div class=" " style="padding-left: 10vw;padding-right: 10vw;padding-top: 10px;">
        <div class="row svgs1">
         
          <div class="col svgc2">
          
          <div class="movie-card__content justify-content-center" >
            <div class="movie-card__header">
              <h1 class="movie-card__title">Develop skills from anywhere</h1>
              <h4 class="movie-card__info">Info</h4>
            </div>
            <p class="movie-card__desc">Every student has a Knowledge Graph based on their learning need & speed. This links different concepts and helps students identify their strengths & areas for improvement.</p>
            <button type="button" class="btn btn-danger">join now</button>
          </div>
        </div>
        <div class="col">
          <img src="../../assets/svg1.jpg " width="450" class="svg1 img-thumbnail" style=" margin-left:80px ">
        </div>
          </div>
        </div>
        </div>
        <div class="row svgss1">
          <div class=" " style="padding-left: 10vw;padding-right: 10vw;padding-top: 10px;">
          <div class="row svgs1">
            <div class="col">
              <img src="../../assets/svg1.jpg" width="450" class="svg1">
            </div>
            <div class="col svgc1">
            
            <div class="movie-card__content justify-content-center" >
              <div class="movie-card__header">
                <h1 class="movie-card__title">Develop skills from anywhere</h1>
                <h4 class="movie-card__info">Info</h4>
              </div>
              <p class="movie-card__desc">Every student has a Knowledge Graph based on their learning need & speed. This links different concepts and helps students identify their strengths & areas for improvement.</p>
              <button type="button" class="btn btn-danger">join now</button>
            </div>
          </div>
            </div>
          </div>
          </div>
        </div>
<!--out coustmer thought section -->
<div class="container-fluid offset-sm-1 " style="padding-left: 10vw;padding-right: 10vw;padding-top: 30px; padding-bottom: 30px;  ">
  <div class="">
      <div class="row ">
          <h2>Our Customers Thoughts</h2>
        </div>

      <div class="row svgc ">
          <div class="col-sm-3 svgsc">
              
                  <div class="col svg1c"><img src="../../assets/12.jpg" width="70"></div>
                  <div class="col"><h6>- Prof. PVM Rao, IIT Delhi</h6>
                  <p>"During Last 3 years more than 2300 students participated in 6-hour aeromodelling workshop by Skyfi Labs in the format of design-build-fly, as a part of "Introduction to Engineering" Course."</p></div>
              
          </div>
          <div class="col-sm-3 svgsc">
              
              <div class="col svg1c"><img src="../../assets/12.jpg" width="70"></div>
              <div class="col"><h6>- Prof. PVM Rao, IIT Delhi</h6>
              <p>"During Last 3 years more than 2300 students participated in 6-hour aeromodelling workshop by Skyfi Labs in the format of design-build-fly, as a part of "Introduction to Engineering" Course."</p></div>
          
      </div>
      <div class="col-sm-3 svgsc">
              
          <div class="col svg1c"><img src="../../assets/12.jpg" width="70"></div>
          <div class="col"><h6>- Prof. PVM Rao, IIT Delhi</h6>
          <p>"During Last 3 years more than 2300 students participated in 6-hour aeromodelling workshop by Skyfi Labs in the format of design-build-fly, as a part of "Introduction to Engineering" Course."</p></div>
      
  </div>
      </div>
  </div>
</div>



<!-- contactus section -->
  <div class="container-fluid" style="   box-shadow: 0 2px 15px 0 rgba(250,87,88,0.52);padding-bottom: 60px; background-image: linear-gradient(106deg, #f53941, #ff6e6a);">
    <div class="row ">
      <div class="col-12 cont1">
        <h2 class=""></h2>
      </div>
    </div>
    <div class="row ">
      


      <div class="col-sm-8 " style="color: antiquewhite; text-align: center;">
      <div>
        <h3>FOR QUERIES, FEEDBACK OR ASSISTANCE</h3>
         <h2> Mach15Project Support</h2>
            7AM - 12AM
            </div>
      </div>
      <div class="col-sm-4 ">
        <div style=" padding-left: 15vw;padding-bottom: 30px;"> <i class="fa fa-phone" style="font-size:48px;color:white"></i></div>
        <div>  <h3 style="color: antiquewhite;text-align: center;">1800 234 5567</h3></div> 
      
  
      </div>
     
    </div>
    
  </div>




<!-- footer -->

<app-footer></app-footer>