<div class="hero-image">
    <div style="width: 70%;"><h1 class="mb-4">select your stream and start your project</h1></div>
    <button type="button" class="btn btn1" >post project</button>
</div>



<!-- below hero image -->
<div class="container-fluid" style="padding-left: 10vw;padding-right: 10vw;padding-top: 10px;">
    <div class="row">
  <div class=" col-sm-3 md4  ">
    <div class="d-block">
      <div  > <img  class="img" src="../../assets/iot.jpg">    </div>
      <div class="media-body ">
       <a href="" class="link1"> <h3 class="heading"> IOT</h3></a>
       
      </div>
    </div>      
  </div>
  <div class=" col-sm-3 md4 ">
    <div class="d-block">
      <div  ><img class="img" src="../../assets/electrical.jpg"></div>
      <div class="media-body ">
        <a href="" class="link1"> <h3 class="heading"> Electrical</h3></a>
  
      </div>
    </div>    
  </div>
  <div class=" col-sm-3 md4 ">
    <div class="d-block">
        <div  ><img class="img" src="../../assets/mechnical.jpg"></div>
      <div class="media-body ">
        <a href="" class="link1"> <h3 class="heading">mechnical</h3></a>
      
      </div>
    </div>      
  </div>
  <div class=" col-sm-3 md4  ">
    <div class="d-block">
      <div  > <img  class="img" src="../../assets/electronics.jpg">    </div>
      <div class="media-body ">
       <a href="" class="link1"> <h3 class="heading">Electronic</h3></a>
       
      </div>
    </div>      
  </div>
</div>
</div>
<!--  -->
<div class="container-fluid" style="padding-left: 10vw;padding-right: 10vw;padding-top: 10px;">
  <div class="row">
<div class=" col-sm-3 md4  ">
  <div class="d-block">
    <div  > <img  class="img" src="../../assets/iot.jpg">    </div>
    <div class="media-body ">
     <a href="" class="link1"> <h3 class="heading"> IOT</h3></a>
     
    </div>
  </div>      
</div>
<div class=" col-sm-3 md4 ">
  <div class="d-block">
    <div  ><img class="img" src="../../assets/electrical.jpg"></div>
    <div class="media-body ">
      <a href="" class="link1"> <h3 class="heading"> Electrical</h3></a>

    </div>
  </div>    
</div>
<div class=" col-sm-3 md4 ">
  <div class="d-block">
      <div  ><img class="img" src="../../assets/mechnical.jpg"></div>
    <div class="media-body ">
      <a href="" class="link1"> <h3 class="heading">mechnical</h3></a>
    
    </div>
  </div>      
</div>
<div class=" col-sm-3 md4  ">
  <div class="d-block">
    <div  > <img  class="img" src="../../assets/electronics.jpg">    </div>
    <div class="media-body ">
     <a href="" class="link1"> <h3 class="heading">Electronic</h3></a>
     
    </div>
  </div>      
</div>
</div>
</div>
<!--  -->
<div class="container-fluid" style="padding-left: 10vw;padding-right: 10vw;padding-top: 10px;">
  <div class="row">
<div class=" col-sm-3 md4  ">
  <div class="d-block">
    <div  > <img  class="img" src="../../assets/iot.jpg">    </div>
    <div class="media-body ">
     <a href="" class="link1"> <h3 class="heading"> IOT</h3></a>
     
    </div>
  </div>      
</div>
<div class=" col-sm-3 md4 ">
  <div class="d-block">
    <div  ><img class="img" src="../../assets/electrical.jpg"></div>
    <div class="media-body ">
      <a href="" class="link1"> <h3 class="heading"> Electrical</h3></a>

    </div>
  </div>    
</div>
<div class=" col-sm-3 md4 ">
  <div class="d-block">
      <div  ><img class="img" src="../../assets/mechnical.jpg"></div>
    <div class="media-body ">
      <a href="" class="link1"> <h3 class="heading">mechnical</h3></a>
    
    </div>
  </div>      
</div>
<div class=" col-sm-3 md4  ">
  <div class="d-block">
    <div  > <img  class="img" src="../../assets/electronics.jpg">    </div>
    <div class="media-body ">
     <a href="" class="link1"> <h3 class="heading">Electronic</h3></a>
     
    </div>
  </div>      
</div>
</div>
</div>


<!-- promotions -->
<div class="main">
  <div class="offset-sm-2">
      <div class="row ">
          <h2>Developing projects and building team is easy now</h2><div style="margin-top: 20px;">
      <p>Tired of expensive, long courses that are not helping you?<br>   
      mach15 mini courses are short, fun and affordable. You can enroll in a mini course whenever you can and gradually build the skills to achieve your dream.
      </p>     </div></div>

      <div class="row svg">
          <div class="col">
              <div class="row">
                  <div class="col-2 svg1"><img src="../../assets/screw.svg" width="70"></div>
                  <div class="col"><h6>DEVELOP PRACTICAL SKILLS</h6>
                  <p>Each mini course is hands-on and involves project development</p></div>
              </div>
          </div>
          <div class="col">
              <div class="row">
                  <div class="col-2 svg1"><img src="../../assets/portfolio.svg" width="70"></div>
                  <div class="col"><h6>DEVELOP PRACTICAL SKILLS</h6>
                  <p>Each mini course is hands-on and involves project development</p></div>
              </div>
          </div>
          <div class="col">
              <div class="row">
                  <div class="col-2 svg1"><img src="../../assets/career.svg" width="70"></div>
                  <div class="col"><h6>DEVELOP PRACTICAL SKILLS</h6>
                  <p>Each mini course is hands-on and involves project development</p></div>
              </div>
          </div>
      </div>
  </div>
</div>