<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <mat-vertical-stepper [linear]="isLinear" #stepper style="padding-bottom: 180px;">
                <mat-step [stepControl]="firstFormGroup">
                  <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Fill out your email</ng-template>
                    <mat-form-field>
                      <mat-label>email</mat-label>
                      <input matInput placeholder="xyz@gmail.com" formControlName="firstCtrl" required>
                    </mat-form-field>
                    <div>
                   
                      <button mat-raised-button color="primary" matStepperNext>Sendotp</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup">
                  <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Fill out your Otp</ng-template>
                    <mat-form-field>
                      <mat-label>Otp</mat-label>
                      <input matInput formControlName="secondCtrl" placeholder="Otp that you have recieved on email" required>
                    </mat-form-field>
                    <div>
                      <button mat-button matStepperPrevious>Back</button>
                      <button mat-button matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="thirdFormGroup">
                    <form [formGroup]="thirdFormGroup">
                      <ng-template matStepLabel>create password</ng-template>
                      <mat-form-field>
                        <mat-label>password</mat-label>
                        <input matInput formControlName="thirdCtrl" type="password" placeholder="create your password" required>
                  
                      </mat-form-field>
                      <br>
                      <mat-form-field>
                        <mat-label>repeat password</mat-label>
                        <input matInput formControlName="thirdCtrl" type="password" placeholder="create your password" required>
                  
                      </mat-form-field>
                      <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                      </div>
                    </form>
                  </mat-step>
               
              </mat-vertical-stepper>
        </div>
    </div>
</div>
 
  <app-footer></app-footer>
  
  <!-- Copyright 2019 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->