<div class="container-fluid"> 
    <div class="row">
        <div class="col-6 nav1"></div>
        <div class="col-6 nav1">
          
            <i class="fa fa-facebook-f" style="font-size:25px;color:white;padding-right: 50px;"></i>  
            <i class="fa fa-twitter" style="font-size:25px;color:white;padding-right: 50px;"></i>   
            <i class="fa fa-instagram" style="font-size:25px;color:white;padding-right: 50px;"></i> 
        </div>
    </div>
    

</div>





<div [class]="nav" id="myTopnav " style="    border-bottom: 1px solid lightgray;">

    <a class="navbar-brand" style="float: left ;"><img src="assets/logo.png" width="80" alt="" srcset=""></a>
    <a routerLink="/signup" id="login" *ngIf="!loginstatus">Login/Signup</a>
    <a href="" class="dropdown" *ngIf="loginstatus" style="padding: inherit; border-bottom: none;" >
        <a class=" dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-circle-o" style="font-size:25px"></i>{{username}}
        <span class="caret"></span></a>
        <ul class="dropdown-menu"  style="    padding-left: 12px; padding-right: 40px;">
         <li><a routerLink="/dashboard">Dashboard</a></li> 
       
         <li> <a routerLink="/viewprofile">View Profile</a></li>
         <li><a routerLink="/changepassword">change password</a></li> 
         <li><a href=" " (click)="logout()">logout</a></li> 
         <li></li>  
        </ul>
    </a>
  
    <a href="#home"  >JOIN US</a>
    <a href="#news">INNOVATION</a>
    <a href="#contact">BECOME A PARTNER</a>
    
    <a href="#about">POST PROJECT</a>
    <a routerLink="" class="active">HOME</a>
    
    
    
    <a href="javascript:void(0);" class="icon" (click)="myFunction()">&#9776;</a>
  </div>

