<div class="container-fluid"> 
    <div class="row">
        <div class="col-6 nav1"></div>
        <div class="col-6 nav1">
          
            <i class="fa fa-facebook-f" style="font-size:25px;color:white;padding-right: 50px;"></i>  
            <i class="fa fa-twitter" style="font-size:25px;color:white;padding-right: 50px;"></i>   
            <i class="fa fa-instagram" style="font-size:25px;color:white;padding-right: 50px;"></i> 
        </div>
    </div>
    

</div>





<div [class]="nav" id="myTopnav ">

    <a class="navbar-brand" style="float: left ;"><img src="assets/logo.png" width="80" alt="" srcset=""></a>
    <a routerLink="/signup" id="login">Login/Signup</a>
    <a href="#home"  >JOIN US</a>
    <a href="#news">INNOVATION</a>
    <a href="#contact">BECOME A PARTNER</a>
    
    <a href="#about">POST PROJECT</a>
    <a href="#about" class="active">HOME</a>
    <a href="javascript:void(0);" class="icon" (click)="myFunction()">&#9776;</a>
  </div>

