<app-nav-bar></app-nav-bar>
<div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;box-shadow: 2px 3px 9px grey; margin-bottom: 60px;margin-top: 60px;">
        <h4 class="card-title mt-3 text-center">Create Account</h4>
        <p class="text-center">Get started with your free account</p>
        <p>
            <a href="" class="btn btn-block btn-twitter"style="    background-color: #215877;"> <i class="fa fa-google"></i>   Login via google</a>
     
        </p>
        <p class="divider-text">
            <span class="bg-light">OR</span>
        </p>
       <form class="was-validated need-validation">
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
             </div>
            <input name="" class="form-control" placeholder="Full name" type="text">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
             </div>
            <input name="" class="form-control" placeholder="Email address" type="email">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
            </div>
            <select class="custom-select" style="max-width: 120px;">
                <option selected="">+91</option>
                
            </select>
            <input name="" class="form-control" placeholder="Phone number" type="tel">
        </div> <!-- form-group// -->
        <!--
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-building"></i> </span>
            </div>
            <select class="form-control">
                <option selected=""> Select job type</option>
                <option>Designer</option>
                <option>Manager</option>
                <option>Accaunting</option>
            </select>
         
        </div>  form-group end.// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" placeholder="Create password" type="password">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" placeholder="Repeat password" type="password">
        </div> <!-- form-group// -->                                      
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" style="background-color: #389c64;" routerLink="/signup"> Create Account  </button>
        </div> <!-- form-group// -->      
        <p class="text-center">Have an account? <a routerLink="/login">Log In</a> </p>                                                                 
      </form>
    </article>
 </div> <!-- card.// -->
    
    <app-footer></app-footer>