
<app-nav-bar></app-nav-bar>

<div>
    <div class=" container-fluid backimg">
        <div class=" backcol row"  style="padding-left: 10vw;padding-right: 10vw;padding-top: 10px;">
            <div class="col" style="padding-bottom: 200px;">
            <div class="row title" >
                <h2>Project Title or logo</h2>
            </div>
            <div class="row head">
                <h1>project head</h1>
            </div>
            <div class="row"><p>Post Graduate Certificate in Full Stack Development. Kick-start your career as an Associate Software Engineer in this 3 month online program curated by subject matter experts from upGrad, and get a placement opportunity with Tech Mahindra with a cost to company of INR 2.6 LPA.</p></div>
        <div class="row align">
            <div class="col-sm-2">
            <button class="btn btn-outline movie-card__button justify-content-center" type="button">Join Now</button>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-outline movie-card__button justify-content-center" type="button">Download report</button>
        </div>
        </div> 
    </div>
    
<!--     
    </div>
        <div class= " span  row  "style="margin-left: 20vw;padding-right: 10vw;padding-top: 10px;" >
            <div  class="col"><h3>More Info</h3>
            <span>extra info</span></div>
            <div  class="col"><h3>More Info</h3>
                <span>extra info</span></div>
                <div  class="col"><h3>More Info</h3>
                    <span>extra info</span></div>
                    <div  class="col"><h3>More Info</h3>
                        <span>extra info</span></div>
        </div>
        
    </div> -->
    
    
    
          
    </div>
    <app-footer></app-footer>