<app-nav-bar></app-nav-bar>

<div class="hero-image">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5"></div>
            <div class="col-sm-7">
                <div style="width: 70%;"><h1 class="clp-lead__title " >
                    Complete Python Bootcamp: Go from zero to hero in Python 3
                    </h1></div>
                
            </div>
        </div>
    </div>

  
</div>

<div class="container-fluid">
<div class="row">
    <div class=" col-md-4 md4  " style="    padding-left: 6vw;">
        <div class="d-block">
          <div  > <img  class="img" src="../../assets/iot.jpg">    </div>
          <div class="media-body ">
           <a routerLink="/computerscience" class="link1"> <h3 class="heading">Home automation</h3></a>
          
           <p class="content" style="    color: black;"> This project includes</p>
           <div>  <h4  class="content"> <span style="padding-right: 10px;">  <i class="fa fa-universal-access" style="font-size: 21px;    color: grey;"></i></span>full lifetime access</h4> </div>
           <div>  <h4  class="content"> <span style="padding-right: 10px;">  <i class="fa fa-address-card" style="font-size: 21px;    color: grey;"></i></span>report of project</h4> </div>
           <div>  <h4  class="content"> <span style="padding-right: 10px;">  <i class="fa fa-check-circle" style="font-size: 21px;    color: grey;"></i></span>Mach15project verified</h4> </div>
          </div>
        </div>      
      </div>
      <div class="col-md-8">
     <p class="content2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    
    <div class="row align">
        <div class="col-sm-4"></div>
        <div class="col-sm-2">
        <button class="btn btn-outline movie-card__button justify-content-center" type="button">Join Now</button>
        </div>
        <div class="col-sm-2">
        <button class="btn btn-outline movie-card__button justify-content-center" type="button">Download report</button>
        </div>
        <div class="col-sm-4"></div>
    </div> 
</div>

      </div>

</div>

    <app-footer></app-footer>